.nav{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:20px
}
.custom-badge .mat-badge-content {
  width:24px;
  height:24px;
  font-size:14px;
  line-height: 24px;
}
.custom-badge .mat-icon{
  font-size:32px;
  width:32px;
  height:32px;
}
